* {
    margin: 0;
    padding: 0;
}

html {
    display: block;
}

body {
    background-color: #101010;
    color: #b0b0b0;
    margin: 0;
    /* font-family: "Ryumin Regular KL","游明朝",Verdana,sans-serif; */
    font-family: "メイリオ", "Meiryo", "verdana", sans-serif;
}

#site_header {
    margin: 0;
    top: 0;
    position: fixed;
    color: #f0f0f0;
    background-color: #202020;
    width: 100%;
    background: url(./img/nothing.png);

    /* background-size: 要素の背景画像の寸法を設定 
        covor:画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小*/
    background-size: cover;
}

#header_title {
    margin: auto;
    padding: 22px;
    text-align: center;
}

h1 .header_menu {
    width: 100%;
    position: relative 20vh;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #202020;
    opacity: 50%;
}

li {
    font-size: 12px;
    float: left;
    border-right: 1px solid;
    border-radius: 50%;
}
li:last-child{
    float: right;
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: normal;
    font-style: oblique;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(#active) {
    color: yellow;
    background-color: black;
}
#active {
	color: #da3c41;
}

#site_main {
    top: 20vh;
    margin-top: 19vh;
    padding: 20px;
}

#center_message{
    position: relative;
    top: 20vh;
    text-align: center;
    z-index: -1;
}

figure {
    float: left;
}

#news_pic_L {
    /* width: 300px; */
    /* margin: 10px 10px; */
    padding: 10px 10px;
    float: left;
}

#news_pic_R {
    /* width: 200px; */
    /* margin: 10px 10px; */
    padding: 10px 10px;
    float: right;
}

#face_pic_R {
    /* width: 200px; */
    /* margin: 10px 10px; */
    padding: 10px 10px;
    float: right;
}
#face_pic_L {
    /* width: 200px; */
    /* margin: 10px 10px; */
    padding: 10px 10px;
    float: left;
}

#writer {
    font-size: 14px;
    color: #b0b0b0;
}
#quester {
    font-size: 12px;
    color: #b0b0b0;
}

#news_pic img {
    margin: 10px;
}

#news_box {
    margin:     10px; 
    padding:    10px; 
    border:     0.5px solid #606060;
    border-radius:  1%;
}

#news_title {
    font-size: 32px;
    color: #f0f0f0;
    margin: 0px 20px;
    text-shadow: 2px 2px 0px #000000;
}

#news_doc {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    color: #f0f0f0;
    text-shadow: 2px 2px 0px #000000;
}

small {
    font-size: 8px;
}

#poem_box {
    margin:     10px; 
    padding:    0px; 
    border:     0.5px solid #606060;
    border-radius:  1%;
}

#poem_tema {
    font-size: 4vmax;
    text-indent: 0.5ex;
    color: #c0c0c0;
    text-shadow: 2px 2px 0px #000000;
}


#poem_title {
    font-size: 2vmax;
    color: #c0c000;
    text-shadow: 2px 2px 0px #000000;
}

#poem_main {
    font-size: 2.8vmax;
    color: #e0e0e0;
    text-align: center;
    text-shadow: 2px 2px 0px #000000;
}

#qa_box {
    margin:     10px; 
    padding:    10px; 
    border:     0.5px solid #606060;
    border-radius:  1%;
}

#qa_title {
    font-size: 32px;
    color: #f0f0f0;
    margin: 0px 20px;
    text-shadow: 2px 2px 0px #000000;
}
#qa_doc {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    color: #c0c0c0;
    text-shadow: 2px 2px 0px #000000;
}

#about_box {
    margin:     10px; 
    padding:    10px; 
    border:     0.5px solid #606060;
    border-radius:  1%;
}

#about_title {
    font-size: 24px;
    color: #f0f0f0;
    margin: 0px 20px;
    text-shadow: 2px 2px 0px #000000;
}
#about_doc {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    color: #c0c0c0;
    text-shadow: 2px 2px 0px #000000;
}

#shop_box {
    margin:     5px;
    padding:    10px;
    border:     0.5px solid #606060;
    border-radius:  1%;
    background-color: white;
}

#shop_pic {
    /* width: 300px; */
    /* margin: 10px 10px; */
    padding: 0px 0px;
    float: center;
}
#shop_title {
    font-size: 6vmax;
    color:black;
    margin: 0px 20px;
    text-shadow:2px 2px 0px #C0C0C0;
    text-align: center;
}


#shop_catch {
    font-size: 3vmax;
    color:#303030;
    margin: 0px 0px;
    text-align: left;
}
#shop_info {
    font-size: 1.5vmax;
    color:#303030;
}

#shop_con {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 1fr;
}
#shop_icon {
    grid-column: 1/2;
    grid-row: 1/2;
}
#shop_doc {
    grid-column: 2/3;
    grid-row: 1/2;
}

