* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Noto Serif JP', serif;
    color: black;

    line-height: 1;

    /* background-color: #f0f0f0; */
}



#index_header {
    margin: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 12.5vh;
    background: url(./img/back/nothing.png);
    background-size: cover;
}

#header_title {
    /* margin: auto;
    padding: 22px; */
    text-align: center;
}

ruby {
    display: inline-table;
    vertical-align: bottom;
}

ruby rt {
    font-size: 30%;
    display: table-header-group;
    text-align: inherit;
    line-height: 1;
}
ruby rb {
    display: table-footer-group;
	line-height: 1;
}


h1 {
    font-size: 3.0vh;
}

p {
    font-size: 2.0vh;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background: rgba(20,20,20,0.3);
}

li {
    font-size: 2.0vh;
    float: left;
    border-right: 1px solid;
    border-color: black;
    border-radius: 80%;
}
li:last-child{
    float: right;
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(#active) {
    color: yellow;
}
#active {
	color: #da3c41;
}



