* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Noto Serif JP', serif;
    color:  #202020;
    /* background-color: #f0f0f0; */
}



#index_header {
    margin: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 10vw;
    background: url(./img/back/nothing.png);
    background-size: cover;
}

#header_title {
    /* margin: auto;
    padding: 22px; */
    text-align: center;
}

rt {
    font-size: 30%;
    display: table-header-group;
    text-align: justify;
	line-height: 1;
}
rb {
    display: table-footer-group;
	line-height: 1;
}


h1 {
    font-size: 5.0vw;
}

p {
    font-size: 2.0vw;
}


